<html lang="en">
@await Html.PartialAsync("_Head");

<body>
    @await Html.PartialAsync("_Header");

    @RenderBody()

    @await Html.PartialAsync("_Footer");



    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
